<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18B75</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>平安金管家</string>
	<key>CFBundleExecutable</key>
	<string>PALifeApp</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>TweakPingAnRun/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.pingan.pars</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>平安金管家</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.04.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxee03e66e7545933a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PALifeApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>palifeapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb2897665916</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ping.pars</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pars</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc6cdd1e6409733b8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa0bf2b4912221937</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat_CI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc054691891bacbc9</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>190313194650</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10B63</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15F79</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.4</string>
	<key>DTSDKBuild</key>
	<string>15F79</string>
	<key>DTSDKName</key>
	<string>iphoneos11.4</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>luintl</string>
		<string>creditcard</string>
		<string>sinaweibosso</string>
		<string>PAMOClient</string>
		<string>caifubao</string>
		<string>mayfair</string>
		<string>zhiniao</string>
		<string>PAYiDai</string>
		<string>mttbrowser</string>
		<string>pinganwifi</string>
		<string>mqqbrowser</string>
		<string>mqqopensdkapiV2</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>wltcaipiao</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>lfxm</string>
		<string>pajkpayapp</string>
		<string>chengzi</string>
		<string>yiqianbao</string>
		<string>patxt</string>
		<string>palifeapp</string>
		<string>smts20140702</string>
		<string>anelicaiapp</string>
		<string>pawlt</string>
		<string>pahaofang</string>
		<string>payzt</string>
		<string>carowner</string>
		<string>PAiPhoneBank</string>
		<string>cydia</string>
		<string>wxe39210a97e3a9c10</string>
		<string>wb3076172930</string>
		<string>laiwang21798642</string>
		<string>tbopen60000241</string>
		<string>tbopen21820199</string>
		<string>kbToday</string>
		<string>xiaohao</string>
		<string>autohome</string>
		<string>patoa501</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>comgooglemaps</string>
		<string>pars</string>
		<string>Chengecaifu</string>
		<string>wifiin</string>
		<string>chengeji</string>
		<string>pinganFinancialMall</string>
		<string>Paebank</string>
		<string>paesuperbank</string>
		<string>fashionlicai.pingan</string>
		<string>annef92035</string>
		<string>wltgamehall</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>uppaywallet</string>
		<string>paexingxiao</string>
		<string>pajkdoctor</string>
		<string>lufax</string>
		<string>pahd</string>
		<string>pasmtwdsz2018</string>
		<string>yidijin</string>
		<string>patoa</string>
		<string>yqbnative</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MPushAppID</key>
	<string>550fb49c8dbd1a7c58000001</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>需要访问您的媒体资料库以保存您需要保存的图片，是否允许？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>需要访问日历提供提醒服务，是否允许？</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问您的相机进行扫一扫、拍照、视频通话等功能，是否允许？</string>
	<key>NSContactsUsageDescription</key>
	<string>需要访问您的通讯录获取联系人信息发送短信邀请，是否允许？</string>
	<key>NSFaceIDUsageDescription</key>
	<string>需要使用面容识别服务用于登录，是否允许？</string>
	<key>NSHealthShareUsageDescription</key>
	<string>为了保证您正常参加平安RUN和健康行活动，在获取您的授权后使用HealthKit获取步数和心率数据，且我们保证数据不会被分享到我公司之外的地方，以保护您的隐私。是否允许？</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>为了保证您正常参加平安RUN和健康行活动，在获取您的授权后使用HealthKit获取步数和心率数据，且我们保证数据不会被分享到我公司之外的地方，以保护您的隐私。是否允许？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>需要使用后台定位来获取健康行计步数据，记录运动轨迹或行驶轨迹，是否允许？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要使用后台定位来获取健康行计步数据，记录运动轨迹或行驶轨迹，是否允许？</string>
	<key>NSLocationUsageDescription</key>
	<string>需要使用定位服务来确定您所在的城市，是否允许？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要使用定位服务来确定您所在的城市，是否允许？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问您的麦克风进行语音识别及发送语音聊天，是否允许？</string>
	<key>NSMotionUsageDescription</key>
	<string>健康行计步功能需要访问运动与健身，是否允许？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问您的相册提供图片选择服务，是否允许？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问您的相册提供图片选择服务，是否允许？</string>
	<key>NSRemindersUsageDescription</key>
	<string>需要访问日历提供提醒服务，是否允许？</string>
	<key>PushServiceURL</key>
	<string>https://push-gw.pingan.com.cn:443</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
